<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">My Store</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li *ngIf="authService.isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/sales-stats">Sales Stats</a>
        </li>
      </ul>

      <!-- User Dropdown -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown" *ngIf="authService.getUsername()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ authService.getUsername() }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li>
              <button class="dropdown-item" (click)="logout()">Logout</button>
            </li>
          </ul>
        </li>

        <!-- Show Login if No User Logged In -->
        <li class="nav-item" *ngIf="!authService.getUsername()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
