<!-- <div class="container mt-4">
  <h2>Shopping Cart</h2>
  <p>Your cart is empty.</p>

  
</div> -->

<div class="container mt-4">
  <h2>Shopping Cart</h2>

  <div *ngIf="isLoading" class="loader-container">
    <div class="loader"></div>
  </div>
  <div class="row" *ngIf="!isLoading">
    <ng-container *ngIf="products.length > 0">
      <div class="col-md-4" *ngFor="let product of products; let i = index">
        <div class="card mb-3 align-center">
          <img
            [src]="product.imageUrl"
            class="card-img-top img-size"
            alt="{{ product.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Price: Rs.{{ product.price }}</p>
            <button class="btn btn-primary" (click)="removeProduct(i)">
              Remove from Cart
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="products.length === 0">
      <p>Your cart is empty.</p>
    </ng-container>
  </div>
  <div class="row checkout" *ngIf="products.length > 0">
    <div class="col-12">
      <button class="btn btn-primary" (click)="proceedToCheckout()">
        Proceed to Checkout
      </button>
    </div>
  </div>
</div>
